In [4]:
import pandas as pd
import os

In [5]:
data_file = os.path.join('..','mars_data_raw','final_data.csv')
final_df = pd.read_csv(data_file)

In [6]:
final_df

,Unnamed: 0,eclipse_day,duration,sunmars_km,earthmars_km,sunmarsearthangle_deg,solarconstantmars,dist_shift,year
0,0,1,4.166667,2.419389e+08,3.557560e+08,19.565076,522.263999,1,1
1,1,1,3.750000,2.419389e+08,3.557560e+08,19.565076,522.263999,1,1
2,2,1,3.150000,2.419389e+08,3.557560e+08,19.565076,522.263999,1,1
3,3,1,2.800000,2.419389e+08,3.557560e+08,19.565076,522.263999,1,1
4,4,2,1.783333,2.418002e+08,3.563037e+08,19.390075,522.863537,1,1
...,...,...,...,...,...,...,...,...,...
5020,5020,2747,19.466667,2.422198e+08,1.641893e+08,36.814280,521.053305,1,4
5021,5021,2748,19.383333,2.420833e+08,1.627003e+08,36.754316,521.641064,1,4
5022,5022,2748,19.300000,2.420833e+08,1.627003e+08,36.754316,521.641064,1,4
5023,5023,2748,19.216667,2.420833e+08,1.627003e+08,36.754316,521.641064,1,4
5024,5024,2748,19.150000,2.420833e+08,1.627003e+08,36.754316,521.641064,1,4